<div data-controller="movie">
  <div data-movie-target="entries">
    <%= render 'movies/movies', movies: @movies %>
  </div>

  <div style="display: none" data-movie-target="pagination">
    <%= will_paginate @movies %>
  </div>
</div>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Movie", new_movie_path(@movie), class: "button" %>
  </section>
<% end %>

