document.querySelector('#review-form-container').innerHTML = "<h1>Write a review for <%= @movie.title %></h1>"
document.querySelector('#review-form-container').innerHTML += "<%= j render  'shared/review_form', movie: @movie, review: Review.new %>"